body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

img, embed, object, video {
	max-width: 100%;
}

h1 {
	font-size: 3.0vw;
}

h5 {
	font-size: 1.5vw;
}
h2 {
	font-size: 2.0vw;
}
p {
	font-size: 2vmin;
}

.container {
	display: grid;
	grid-template-rows: 2fr 0.2fr 8fr;
	grid-row-gap: 10px;
}

/*
 *
 * Header
 *
 */
.header {
	display: inline-grid;
	grid-template-columns: 2fr 8fr;
	margin-top: 10px;
	margin-bottom: 10px;
}


.header_title {
	text-align: right;	
}

.header_title_main{
	font-family: Roboto;
	color: #2d3c49;
	font-weight: 100;
	margin: 25px 25px 0px 0px;	
}

.header_title_sub{	
	font-family: Roboto;
	color: #2d3c49;
	font-weight: 100;
	margin: 5px 25px 0px 0px;	
}

/*
 *
 * Main Body
 *	
 */

.main_body {
	display: inline-grid;
	grid-template-rows: 2fr 8fr;
 }
 
 .horizontal_line {
	background-color: #7d97ad;
	height: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
 }
 
.main_image {
}

.no_margin_image {
	margin: 0px;
	margin-bottom: 0.5em;
}

.projects_section {
	display: inline-grid;
	grid-template-rows: 0.5fr 9.5fr;
}

.project_section_header {
	font-family: Roboto;
	color: #7d97ad;
	font-weight: 400;
	padding-left: 5vw;
	margin-bottom: 5px;
	margin-top: 5px;
}

.projects {
	display: inline-grid;
	grid-template-columns: repeat(3, 1fr);
}

.project {
}

 
.project_titles {
	font-family: Roboto;
	color: #2d3c49;
	font-weight: 400;
	font-size: 2vw;
	text-align: center;
 }
 
 .project_link {
	font-family: Roboto;
	color: #2d3c49;
	font-weight: 100;
	font-size: 1vw;
	text-align: center;
	word-wrap: break-word;
}

.project-image{ 
    text-align: center;
}